{% extends 'base_layout.html' %}

{% block content %}
<div class="generate-letter">
		<form class="site-form" action="http://127.0.0.1:8000" method="post" enctype="multipart/form-data">
		{% csrf_token %}
	        <p class=para> Check your machine in the current directory for the required document!!! </p>
	<input type="submit" class=sub value="<<back to homepage">
	</form> 
	</div>
{% endblock %}
