{% extends 'base_layout.html' %}

{% block content %}
<h3><b><i><center>Enter your details</center></i></b></h3>
<div class="generate-letter">
		<form class="site-form" action="/letter/generate" method="post" enctype="multipart/form-data">
		{% csrf_token %}
	<center>{{ form }}</center>
	<input type="submit" name="pdf" value="Create PDF">&nbsp&nbsp&nbsp&nbsp&nbsp
	<input type="submit" name="doc" value="Create DOC">&nbsp&nbsp&nbsp&nbsp&nbsp
	<input type="submit" name="previewpdf" value="Preview PDF">&nbsp&nbsp&nbsp&nbsp&nbsp
	<input type="submit" name="previewdocx" value="Preview DOC">
	</form> 
	</div>
{% endblock %}
