body{
	background-color:#0f121f;
	background-image: url(stars2.png);
	background-repeat-y: no-repeat;
	color:#fff;
}

body *{
font-family: Ubuntu;
}

h1,h2,h3,h4,h5{
font-weight: normal;
margin: 0;
}
.site-form{
margin-top: 30px;
border: 1px solid #00dba0;
padding: 20px;
}
.site-form input{
margin: 20px 0 0 0;
padding: 10px;
border: 1px solid #00dba0;
}
.site-form .sub{
margin: 20px 0 0 0;
border: 1px solid #F8F8FF;
background: black;
color: white;
padding: 10px;
}
.site-form .para{
margin: 20px 0 0 0;
color: #00dba0;
padding: 10px;
}
h3{
margin: 20px 0 0 0;
color: #00dba0;
padding: 10px;
}
a, a:hover, a:visited{
color: #fff;
text-decoration: none;
}
.wrapper{
max-width: 960px;
margin: 0 auto;
}

div.wrapper h1{
text-align: center;
margin: 100px auto;
font-size: 2.4cm;
}
