{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<html>
<head>
<meta charset="utf-8">
<title>Letter Generation Tool</title>
<link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body class="body" >

{% block content %}
{% endblock %}
</div>
</body>
</html>

